@mixin item-rowcenter {
  display: flex;
  align-items: center;
}

@mixin item-colcenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
      @content;
    }
}

@mixin tablette {
  @media screen and (max-width: map-get($breakpoints, tablette)) {
    @content;
  }
}